body{
background-image: url(bg.jpg);
background-size: cover;
}
.container{
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: rgb(125, 190, 166);
    margin-left: 33%;
    margin-top: 5%;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);  
    border-radius: 10px;
}
input{
    width: 270px;
    padding: 8px;
    border:none;
    outline: none;
    border-radius: 22px;
}

button{
  width: 60px;
  height: 41px;
  background-color: black;
  color: white;
  border-radius: 2px;
  font-size: 19px;
}
.text ul{
    position: relative;
    background-color: rgb(5, 31, 31);
    color: white;
    font-size: 19px;
    padding: 7px;
    text-align: left;
 }
 .text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
 }
